<f:layout name="Default" />


<f:section name="main">

	<f:flashMessages />

	<f:render partial="FormErrors" />

	<f:form method="post" class="form-horizontal" action="update" name="bankAccount" object="{bankAccount}" >

		<fieldset>

			<legend>Formularangaben bearbeiten</legend>
			<br />

			<f:render partial="BankAccount/FormFields" arguments="{bankAccount:bankAccount}" />

			<div class="form-actions">
				<f:form.submit class="btn btn-primary" value="{f:translate(key:'tx_dlaccounting.general.save')}" />
				<button class="btn"><f:link.action action="edit" controller="Bill" arguments="{bill:bill}"><f:translate key="tx_dlaccounting.general.cancel" /></f:link.action></button>
			</div>

			<f:form.hidden name="bill" value="{bill}" />

		</fieldset>
	</f:form>

</f:section>