<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for AccountCode</h1>

<f:flashMessages />

<table  class="tx_dlaccounting" >
	<tr>
		<th><f:translate key="tx_dlaccounting_domain_model_accountcode.title" /></th>
		<th><f:translate key="tx_dlaccounting_domain_model_accountcode.code" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{accountCodes}" as="accountCode">
		<tr>
			<td><f:link.action action="show" arguments="{accountCode : accountCode}"> {accountCode.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{accountCode : accountCode}"> {accountCode.code}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{accountCode : accountCode}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{accountCode : accountCode}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New AccountCode</f:link.action>
</f:section>