<label for="firstName">
	<f:translate key="tx_dlaccounting_domain_model_bankaccount.first_name" />
</label><br />
	<f:form.textfield property="firstName" /><br />
<label for="lastName">
	<f:translate key="tx_dlaccounting_domain_model_bankaccount.last_name" />
</label><br />
	<f:form.textfield property="lastName" /><br />
<label for="city">
	<f:translate key="tx_dlaccounting_domain_model_bankaccount.city" />
</label><br />
	<f:form.textfield property="city" /><br />
<label for="accountNo">
	<f:translate key="tx_dlaccounting_domain_model_bankaccount.account_no" />
</label><br />
	<f:form.textfield property="accountNo" /><br />
<label for="bankCode">
	<f:translate key="tx_dlaccounting_domain_model_bankaccount.bank_code" />
</label><br />
	<f:form.textfield property="bankCode" /><br />