
<div class="control-group">
	<label class="control-label" for="firstName"><f:translate key="tx_dlaccounting_domain_model_bankaccount.first_name" /></label>

	<div class="controls">
		<f:form.textfield property="firstName" id="firstName" />
	</div>
</div>

<div class="control-group">
	<label class="control-label" for="lastName"><f:translate key="tx_dlaccounting_domain_model_bankaccount.last_name" /></label>

	<div class="controls">
		<f:form.textfield property="lastName" id="lastName" />
	</div>
</div>

<div class="control-group">
	<label class="control-label" for="city"><f:translate key="tx_dlaccounting_domain_model_bankaccount.city" /></label>

	<div class="controls">
		<f:form.textfield property="city" id="city" />
	</div>
</div>


<div class="control-group">
	<label class="control-label" for="accountNo"><f:translate key="tx_dlaccounting_domain_model_bankaccount.account_no" /></label>

	<div class="controls">
		<f:form.textfield property="accountNo" id="accountNo" />
	</div>
</div>


<div class="control-group">
	<label class="control-label" for="bankCode"><f:translate key="tx_dlaccounting_domain_model_bankaccount.bank_code" /></label>

	<div class="controls">
		<f:form.textfield property="bankCode" id="bankCode" />
	</div>
</div>