<table class="tx-dl-accounting" >
	<tr>
		<td>
			<f:translate key="tx_dlaccounting_domain_model_bankaccount.first_name" />
		</td>
		<td>
			{bankAccount.firstName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlaccounting_domain_model_bankaccount.last_name" />
		</td>
		<td>
			{bankAccount.lastName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlaccounting_domain_model_bankaccount.city" />
		</td>
		<td>
			{bankAccount.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlaccounting_domain_model_bankaccount.account_no" />
		</td>
		<td>
			{bankAccount.accountNo}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dlaccounting_domain_model_bankaccount.bank_code" />
		</td>
		<td>
			{bankAccount.bankCode}
		</td>
	</tr>
</table>