optgroup {
    font-weight: bold;
    line-height: 18px;
    color: #4a4a4a;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    margin-top: 5px;
}

/*
.tx-ptextlist-aggregaterow td {
    background-color: #ccc !important;
}
*/

.tx-ptextlist-field-cmd, .tx-ptextlist-field-sum,
.tx-ptextlist-field-amount, .tx-ptextlist-aggregatefield-amount {
    text-align: right !important;
}

.tx-ptextlist-field-amount {
    width: 70px;
}

.tx-ptextlist-field-description {
    min-width: 100px;
}
