<fieldset>

	<div class="control-group">
		<label class="control-label" for="date"><f:translate key="tx_dlaccounting_domain_model_billposition.date" /></label>

		<div class="controls">
			<f:form.textfield property="date" value="{billPosition.date->f:format.date()}" />
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="amount"><f:translate key="tx_dlaccounting_domain_model_billposition.amount" /></label>

		<div class="controls">
			<f:form.textfield property="amount" />
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="description"><f:translate key="tx_dlaccounting_domain_model_billposition.description" /></label>

		<div class="controls">
			<f:form.textarea property="description" cols="20" rows="5" />
		</div>
	</div>
</fieldset>