{namespace ptx=Tx_PtExtbase_ViewHelpers}

<script>
	$(function() {
		$( "#date" ).datepicker();
		setFormModeByAccountCode($('#accountCode').val());

		$('#accountCode').change(function () {
			setFormModeByAccountCode($('#accountCode').val());
		});
	});

	function setFormModeByAccountCode(accountCode) {
		if (accountCode == {settings.specialAccountCodes.travelCosts}) {
			$('#amount').fadeOut();
			$('#travelCosts').fadeIn();
		} else {
			$('#amount').fadeIn();
			$('#travelCosts').fadeOut();
		}
	}

	jQuery(function($){
		$.datepicker.regional['de'] = {
			closeText: 'schließen',
			prevText: '&#x3c;zurück',
			nextText: 'Vor&#x3e;',
			currentText: 'heute',
			monthNames: ['Januar','Februar','März','April','Mai','Juni',
			'Juli','August','September','Oktober','November','Dezember'],
			monthNamesShort: ['Jan','Feb','Mär','Apr','Mai','Jun',
			'Jul','Aug','Sep','Okt','Nov','Dez'],
			dayNames: ['Sonntag','Montag','Dienstag','Mittwoch','Donnerstag','Freitag','Samstag'],
			dayNamesShort: ['So','Mo','Di','Mi','Do','Fr','Sa'],
			dayNamesMin: ['So','Mo','Di','Mi','Do','Fr','Sa'],
			weekHeader: 'Wo',
			dateFormat: 'dd.mm.yy',
			firstDay: 1,
			isRTL: false,
			showMonthAfterYear: false,
			yearSuffix: ''};
		$.datepicker.setDefaults($.datepicker.regional['de']);
	});

</script>

	<div class="control-group">
		<label class="control-label" for="date"><f:translate key="tx_dlaccounting_domain_model_billposition.date" /></label>

		<div class="controls">
			<f:form.textfield property="date" id="date"  value="{billPosition.date->f:format.date()}" />
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="costType"><f:translate key="tx_dlaccounting_domain_model_billposition.costType" /></label>

		<div class="controls">
			<select name="tx_dlaccounting_acc[{billPositionObjectName}][costType]">
				<f:for each="{costTypes}" as="costType">
					<ptx:ifValueChanges value="{costType.department.uid}">
						<optgroup label="{costType.department.title}"></optgroup>
					</ptx:ifValueChanges>

					<option {f:if(condition:'{billPosition.costType.uid} == {costType.uid}', then:'selected="selected"')} value="{costType.uid}">{costType.title}</option>
				</f:for>
			</select>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="accountCode"><f:translate key="tx_dlaccounting_domain_model_billposition.accountCode" /></label>

		<div class="controls">
			<f:form.select property="accountCode" id="accountCode" options="{accountCodes}" optionValueField="uid" optionLabelField="title"/>
		</div>
	</div>


	<div class="control-group" id="travelCosts" stlye="display:none">
		<label class="control-label" for="amount"><f:translate key="tx_dlaccounting_domain_model_billposition.travelCosts" /></label>

		<div class="controls">
			<div class="input-append">
				<f:form.textfield property="travelCostKilometers" />
				<span class="add-on">Km</span>
			</div>
			<f:form.select property="travelCostCarPassengers" options="{settings.travelCosts.passengerFees}"/>
		</div>
	</div>


	<div class="control-group" id="amount">
		<label class="control-label" for="amount"><f:translate key="tx_dlaccounting_domain_model_billposition.amount" /></label>

		<div class="controls">
			<div class="input-append">
				<f:form.textfield property="amount" />
				<span class="add-on">€</span>
			</div>
		</div>
	</div>


	<div class="control-group">
		<label class="control-label" for="description"><f:translate key="tx_dlaccounting_domain_model_billposition.description" /></label>

		<div class="controls">
			<f:form.textarea property="description" id="description" cols="20" rows="5" />
		</div>
	</div>
