<label for="date">
	<f:translate key="tx_dlaccounting_domain_model_billposition.date" />
</label><br />
	<f:form.textfield property="date"  value="{billPosition.date->f:format.date()}" /><br />
<label for="amount">
	<f:translate key="tx_dlaccounting_domain_model_billposition.amount" />
</label><br />
	<f:form.textfield property="amount" /><br />
<label for="description">
	<f:translate key="tx_dlaccounting_domain_model_billposition.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />